@model Person


@{
    ViewData["Title"] = "Home Page";
}



<h1>Bonjour @Model.Name</h1>


  @foreach(var account in Model.SavingAccount){


    <p>Compte numero : @account.SavingAccountId  : 
        @account.Amount (@account.Rate by @(account.IsRateByMonth ? "month" : "year"))
    </p>
}